:root{
 --color1: #d0f107;
 --color2: #85dd23;
 --color3: #17c639;
 --color4: #00ad4c;
 --color5: #00925a;
 --color6: #007764;
 --color7:#EFECF4;
 --treedom2: #00e2ff;
 --treedom3: #ff64c9;
 --fontcolor1:#051937;
 --fontcolor2: #a8eb12;
}

*{
 margin:0;
 padding:0;
}
/* *::before, ::after{
 box-sizing:inherit;
} */

body{
 background-image: linear-gradient(270deg, var(--color3), var(--color2));
 font-size:16px;
 overflow-x:hidden;
}

h1{
 color:#051937;
}


#logo{
 font-size:2rem;
 font-weight: bold;
}

.pat{
 color:var(--fontcolor2);
 border-bottom: 5px solid var(--treedom2);
}
.pat-2{
color:var(--treedom2);
border-bottom: 5px solid var(--color2);
}
.s-name{
color:var(--treedom2);
border-bottom: 5px solid var(--color2);
}

#navbar{
 background-color: var(--fontcolor1);
 display: flex;
 justify-content:space-between;
 align-items:center;
 font-weight:bold;
 position:fixed;
 padding-left:3rem;
 padding-bottom:1.6rem;
 top:0;
 left:0;
 width:100%;
 z-index:1;
}
#navbar ul li{
 list-style: none;
}
#navbar ul{
 display:flex;
 gap:3rem;
 padding-right:6rem;
 font-size: 1.4rem;
}



#welcome-section{
height: 100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background-color: var(--color7);
position:relative;
top:0;
left:0;
right:0;
z-index:-1;
width:100%;
height:100vh;
padding-left: 4rem;
padding-right:4rem;
}
.my-img{
 width:320px;
 height:320px;
 border-radius:15px;
 border:10px solid var(--color7);
}
.pro-title{
 font-size:3rem;
 color: var(--color6);
}
.greet{
 font-size:8rem;
 color: var(--fontcolor1);
}

#About{
 width:100%;
 height:100vh;
 padding-left: 4rem;
 padding-right:4rem;
 background-color: var(--fontcolor1);
}

.about-h2{
 text-align:center;
 font-size:4rem;
 color:var(--color2);
}

.skill{
 background-color: var(--color6);
 padding:5px;
 border-radius: 10px;
 color:var(--color7);
}
.container-about{
 display:flex;
 align-items:center;
 gap: 1.8rem;
 padding-bottom:3rem;
 padding-top:3rem;
}
.notes{
 line-height:1.8;
 color: var(--color7);
 padding-left:0.4rem;
}
#About p{
 font-size: 1.4rem;
 text-align:left;
}

#navbar ul li a{
 text-decoration:none;
 color:var(--color1);
 cursor:pointer;
}

#navbar ul li a:hover{
 background-color:var(--color2);
 color:var(--fontcolor1);
 padding: 1rem;
 border-bottom: 5px solid var(--treedom2);
}

#Contact{
 background-color:var(--color6);
 font-size: 3rem;
 text-align:center;
 padding-top: 2rem;
 color:var(--color7);
 line-height:1.4;
 display:flex;
 flex-wrap:wrap;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 width:100%;
 height:100vh;
 padding-left: 3rem;
 padding-right:4rem;
}

.social-media{
 padding-top: 0;
 width:100%;
}

.social-icon{
 width:2.5rem;
 border-radius: 10px;
 padding-bottom:2rem;
 padding-top:1.8rem;
}

#projects{
 background-color: var(--color7);
 padding-bottom:4rem;
 width:100%;
 padding-left: 4rem;
 padding-right:4rem;
}


.my-project{
 text-align:center;
 padding: 2rem 0;
 font-size:4rem;
 color:var(--fontcolor1);
 font-weight:bolder;
}

.project-container{
 display:grid;
 grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
 grid-gap: 4rem;
 width: 100%;
 max-width: 1280px;
 margin: 0 auto;
 margin-bottom: 6rem;
}

.project-tile{
 background-color: var(--fontcolor1);
 color:var(--color1);
 text-align:center;
 padding:10px;
}

.project-img{
 width:100%;
 height:320px;
}

.project-work{
 object-fit:contain;
 text-align:center;
}

#main-footer{
 background-color:var(--fontcolor1);
 color: var(--treedom2);
 display:flex;
 justify-content:start;
 column-gap: 45rem;
 font-size:1.3rem;
 padding: 1rem 4rem;
 width:100%;
}

.privacy{
 display:flex;
 column-gap:40px;
}

@media only screen and  (max-width: 720px){
 html{
  font-size:70%;
 }
 #navbar{
  display:flex;
  flex-wrap: wrap;
  row-gap:15px;
  padding-left:2rem;
 }
 #navbar ul li a:hover{
  background-color:var(--color2);
  color:var(--fontcolor1);
  padding: 0.3rem;
  border-bottom: 5px solid var(--treedom2);
 }
 #welcome-section{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  padding-top:8rem;
  height:100%;
  padding-bottom: 3rem;
  padding-right:3rem;
 }
 #About{
  height:100%;
 }
 #projects, .project-work{
  width:100%;
 }
#projects{
 padding-left:2rem;
}
 #Contact{
  font-size:2rem;
  text-align:center;
 }
#main-container{
 position:absolute;
 left:0;
 right:0;
 width:100%;
 padding:0;
 margin:0;
}
 .container-about{
  width:100%;
  height:100%;
  line-height:1.6;
  display:flex;
  flex-wrap:wrap;
  gap:15px;
 }
 .skill{
  background-color: var(--color6);
  padding:1px 2px;
  border-radius: 5px;
  color:var(--color7);
 }
 #main-footer{
  width:100%;
  display:flex;
  flex-wrap: wrap;
  gap:15px;
 }
}

@media only screen and (max-width:480px){
 html{
  font-size:60%;
 }
 #main-footer{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  gap: 5px;
 }

 #projects{
  width:100%;
  padding:4rem 4rem;
 }
 #Contact{
  width:100%;
  
  text-align:center;
  padding:4rem 4rem;
 }
 #About{
  width:100%;
 }
#welcome-section{
 width:100%;
 padding:4rem 4rem;
}
}